@use "variables" as v;
@use "placeholders";

main {
    form {
        display: flex;
        flex-direction: column;
    }

    h2{
        font-family: v.$fuenteprincipal;
        color: #000;
        font-weight: bold;
        font-size: 5vh;
        padding-top: 5vh;
        padding-left: 2vw;
    }

    .preguntas{
        margin-left: 2vw;
        p {
            @extend %estilo-p;
        }
        .pregunta{
            font-family: v.$fuenteprincipal
            font-size 4vh;
            color: black;
            font-weight: bold;
        }

        .respuesta{
            font-family: v.$fuenteprincipal
            font-size 3vh;
            color: black;
        }
    }

    @include v.mobile {
        .preguntas{
            .pregunta{
                font-family: v.$fuenteprincipal
                font-size 3vh;
            }
            .respuesta{
                font-family: v.$fuenteprincipal
                font-size 2vh;
            }
        }
    }

}