@use "variables" as v;
@use "placeholders";

main {
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        label {
            width: 50%;
            font-family: v.$fuenteprincipal;
            font-size: 2vh;
            font-weight: bold;
            padding-top: 3vh;
        }
        input {
            width: 50%;
            border: solid #b3b0b079;
        }
        textarea {
            width: 50%;
            height: 20vh;
            border: solid #b3b0b079;
        }
        #botonenviar {
            width: 30%;
            font-family: v.$fuenteprincipal;
            font-size: 2vh;
            font-weight: bold;
            margin: 2vh;
            padding: 1vh;
    }
    }

    h2{
        font-family: v.$fuenteprincipal;
        color: #000;
        font-weight: bold;
        font-size: 5vh;
        padding-top: 5vh;
        padding-left: 2vw;
    }

    .preguntas{
        margin-left: 2vw;
        p {
            @extend %estilo-p;
        }
        .pregunta{
            font-family: v.$fuenteprincipal;
            font-size: 4vh;
            color: black;
            font-weight: bold;
            padding: 4vh 0 1vh 0;
        }

        .respuesta{
            font-family: v.$fuenteprincipal
            font-size 3vh;
            color: black;
        }
    }


    @include v.mobile {
        h2 {
            font-size: 4vh;
        }
        .preguntas{
            .pregunta{
                font-size: 2vh;
            }
            .respuesta{
                font-size: 2vh;
            }
        }
    }

}
