@use "variables" as v;
@use "placeholders";

footer {
    background-color: v.$colorprincipal;
    width: 100%;
    height: 7vh;
    @extend %flr;

    .derechos{
        font-family: v.$fuenteprincipal;
        font-size: 3vh;
        color: black;
        font-weight: bold;
        margin: auto;
    }

    .redes {
        margin-right: 3vw;

        a {
            text-decoration: none;
            color: #000;
            font-family: v.$fuenteprincipal;
            font-size: 3vh;
            font-weight: bold;
            .rrss {
                width: 5vh;
                height: auto;
                padding: 1vh;
            }
        }
        
    }

    @include v.mobile {
        footer {
            height: 4vh;
            .derechos{
                font-size: 2vh;
            }
            .redes a {
                font-size: 2vh;
                .rrss {
                    width: 3vh;
                }
            }
        }
    }

}
