@use "variables" as v;
@use "placeholders";

footer {
    background-color: v.$colorprincipal;
    width: 100%;
    height: auto;
    @extend %flr;

    .contactate {
        display: flex;
        flex-direction: column;
        padding-left: 1vw;
        h4 {
            font-family: v.$fuenteprincipal;
            font-size: 4vh;
            font-weight: bold;
            padding-top: 3vh;
            color: #000;
        }
        .contacto {
            display: flex;
            flex-direction: row;
            align-items: center;
            .email {
                width: auto;
                height: 3vh;
            }
            .telefono {
                width: auto;
                height: 3vh;
            }
            .contactar {
                font-family: v.$fuenteprincipal;
                font-size: 3vh;
                font-weight: bold;
                color: #000;
                padding: 1vh;
                align-items: flex-start;
                margin: 0;
            }
        }
    }

    .redessociales {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        .derechos{
            font-family: v.$fuenteprincipal;
            font-size: 3vh;
            color: black;
            font-weight: bold;
            margin: auto;
        }
        .redes {
            margin-right: 3vw;
            a {
                text-decoration: none;
                color: #000;
                font-family: v.$fuenteprincipal;
                font-size: 3vh;
                font-weight: bold;
                .rrss {
                    width: auto;
                    height: 7vh;
                    padding: 1vh;
                }
                .rrss:hover {
                    height: 8vh;
                }
            }
            
        }
    }

    @include v.mobile {
        height: auto;

        .contactate {
            h4 {
                font-size: 3vh;
                padding-top: 2vh;
            }
            .contacto {
                .email {
                    height: 2vh;
                }
                .telefono {
                    height: 2vh;
                }
                .contactar {
                    font-size: 2vh;
                }
            }
        }

        .redessociales {
            align-items: center;
            .derechos{
                font-size: 2vh;
                margin-left: 1vh;
            }
            .redes a {
                font-size: 2vh;
                .rrss {
                    height: 6vh;
                }
            }
        }
    }

}

