@use "variables" as v;
@use "placeholders";

header {
    .envios {
    background-color: v.$colorprincipal;
    display: block;
        p {
            @extend %estilo-p; 
        }
        #envios {
            font-family: v.$fuenteprincipal;
            color: v.$colorsecundario;
            font-size: 3vh;
            text-align: center;
        }
    }

    .encabezado {
        width: 100%;
        height: 15vh;
        margin: 0;
        padding: 1vh;
        margin-bottom: 3vh;
        @extend %flr; 

        #Logo {
        height: 10vh;
        width: auto;
        padding-bottom: 1vh;
        }

        h1 {
            font-family: v.$fuentemarca;
            color: v.$colorprincipal;
            @extend %estilo-h1;
        }

        ul {
            display: flex;
            gap: 0.5vh;
            padding: 1%;
            width: 40%;
            height: 3vh;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: #000;
                    font-family: v.$fuenteprincipal;
                    font-size: 3vh;
                    font-weight: bold;
                }
            }
        }
    }


    @include v.mobile {
        .envios #envios {
            font-size: 1vh;
        }
        .encabezado {
            flex-wrap: wrap;
            justify-content: center;
        }
        .encabezado ul {
            flex: 1 1 100%;
            justify-content: center;
            gap: 2vh;
        }
        ul {
            flex-wrap: wrap;
            font-size: 2vh;
        }
        .encabezado #Logo {
            height: 5vh;
        }
        h1 {
            font-size: 4vh;
        }
    }

}





/*        
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 2vh 1vh;
        #Logo {
            height: 8vh;
            padding-bottom: 0;
        }

        h1 {
            font-size: 4vh;
            text-align: center;
        } 

        ul {
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            gap: 1vh;
                li a {
                    font-size: 2.5vh;
                }
        }
    }
*/

