@use "variables" as v;
@use "placeholders";

main {
    h2{
    font-family: v.$fuenteprincipal;
    color: #000;
    font-weight: bold;
    font-size: 5vh;
    padding-top: 5vh;
    padding-left: 2vw;
    }

    .perfil {
        display: block;
        height: auto;
        width: 80vw;
        justify-content: center;
        align-items: center;
        margin: auto;
        label {
            width: 80%;
            font-family: v.$fuenteprincipal;
            font-size: 2vh;
            font-weight: bold;
            padding-top: 2vh;
        }
        input {
            width: 80%;
        }
        .botonregistro {
            width: 30%;
            font-family: v.$fuenteprincipal;
            font-size: 2vh;
            font-weight: bold;
            margin: 2vh 35vh;
            padding: 1vh;
            align-self: center;
        }
        .genero {
            width: 50vw;
        }
        #genero {
            width: 10%;
            justify-items: start;
            margin-left: 10vh;
        }
    }

    @include v.mobile {
        h2{
            font-size: 2vh;
            padding-top: 3vh;
            padding-left: 1vw;
        }
        .perfil {
            .dato {
                margin-left: 1vh;
                width: 100%;
                font-size: 2vh;
                flex-direction: row;
            }
            .registro {
                margin-left: 1vh;
                margin-top: 2vh;
                margin-bottom: 2vh;
                font-size: 3vh;
            }
            .botonregistro {
                margin: 2vh 10vh;
            }
            .genero {
                display: block;
                margin-right: 7vh;
            }
            #genero {
                margin-left: 4vh;
            }
        }
    }

}