@use "variables" as v;
@use "placeholders";

main {
    h2{
    font-family: v.$fuenteprincipal;
    color: #000;
    font-weight: bold;
    font-size: 5vh;
    padding-top: 5vh;
    padding-left: 2vw;
    }
    form {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
        margin: auto;
        label {
            width: 50%;
            font-family: v.$fuenteprincipal;
            font-size: 2vh;
            font-weight: bold;
            padding-top: 3vh;
        }
        input {
            width: 50%;
            border: solid #b3b0b079;
        }
        .botonregistro {
            width: 30%;
            font-family: v.$fuenteprincipal;
            font-size: 2vh;
            font-weight: bold;
            margin: 2vh auto;
            padding: 1vh;
        }
        select {
            font-family: v.$fuenteprincipal;
            font-size: 2vh;
            justify-self: center;
            width: 50%;
            border: solid #b3b0b079;
        }

    }

    @include v.mobile {
        h2{
            font-size: 2vh;
        }
    }

}